.header {
    background-color: #007bff; /* blue */
    color: #ffffff; /* white */
}

.about {
    background-color: #f8f9fa; /* light gray */
    color: #343a40; /* dark gray */
}

.service {
    background-color: #28a745; /* green */
    color: #ffffff; /* white */
}

.footer {
    background-color: #343a40; /* dark gray */
    color: #f8f9fa; /* light gray */
}